#poem1 
{
color: black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size:50px;
line-height: 0%;
background-color: blueviolet;
    
}
#poem2 
{
color: blueviolet;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size:70px;
line-height: 0%;
background-color: black;
}
#poem3 {
color: black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size:80px;
line-height: 0%;
background-color: blueviolet;
}
#poem4 
{
color: blueviolet;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 40px;
line-height: 0%;
}
#poem5 
{
 color: black;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 90px;
 line-height: 0%;
 background-color: blueviolet;
}
.cadre 
{
 width: 50vw;
 height: 50vh;
 margin-left: 40%;

}
#btn
{
    margin-left: 40%;
    text-decoration: none;
    background-color: blueviolet;
    border: none;
    font-size: 20px;
}